name: Heroku deploy

on:
  workflow_call:
    inputs:
      heroku-app:
        description: "The Heroku app name"
        default: ${{ github.event.repository.name }}
        required: false
        type: string
      branch:
        description: "The branch to deploy"
        default: ${{ github.event.repository.default_branch }}
        required: false
        type: string
    secrets:
      heroku-key:
        description: "Heroku API key (OAuth token)"
        required: true

jobs:
  deploy:
    if: |
      (github.event.workflow_run.conclusion == 'success' &&
      github.event.workflow_run.head_branch == inputs.branch) ||
      (github.event_name == 'workflow_dispatch' && github.ref_name == inputs.branch)
    concurrency: ${{ inputs.heroku-app || github.event.repository.name }}
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
    - name: Create deployment in GitHub
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        deploymentId=$(jq -n "{
            \"ref\": \"${{ inputs.branch }}\",\
            \"auto_merge\": false,\
            \"environment\": \"${{ inputs.heroku-app }}\",\
            \"description\": \"Heroku deploy from GitHub Actions\",\
            \"required_contexts\": []\
          }" \
          | gh api repos/${{ github.repository }}/deployments \
            --method POST \
            --header "Accept: application/vnd.github.v3+json" \
            --input - \
            --jq '.id')
        echo 'DEPLOYMENT_ID='$deploymentId >> $GITHUB_ENV

    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.branch }}

    - name: Push to Heroku
      env:
        HEROKU_API_KEY: "${{ secrets.heroku-key }}"
      run: |
        git fetch --prune --unshallow
        git push --force \
          https://user:$HEROKU_API_KEY@git.heroku.com/${{ inputs.heroku-app }}.git \
          ${{ inputs.branch }}:main

    - name: Create deployment status in GitHub
      if: always()
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        gh api repos/${{ github.repository }}/deployments/$DEPLOYMENT_ID/statuses \
          --method POST \
          --header "Accept: application/vnd.github.v3+json" \
          --field state=${{ job.status }} \
          --field log_url=https://github.com/${{ github.repository }}/actions/runs/${{ github.run_id }} \
          --field environment_url=https://${{ inputs.heroku-app }}.herokuapp.com/
